<nav class="navbar navbar-light bg-primary">
  <h1 style="color: skyblue" data-test="Title">Kunden-Dashboard</h1>
</nav>
<table class="table mt-3">
  <thead>
  <tr>
    <th class='attributes' scope="col" >ID</th>
    <th class='attributes' scope="col" >Vorname</th>
    <th class='attributes' scope="col" >Nachname</th>
    <th class='attributes' scope="col" >E-mail</th>
    <th class='attributes' scope="col" >Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Thomas</td>
    <td>Müller</td>
    <td>hk@gmail.com</td>
    <td>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Kunden Informationen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formvalue" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for = "Id">ID</label>
        <input formControlName="Id" type="text"  class="form-control" id="Id"  placeholder="Enter Id">

      </div>

      <div class="mb-3">
        <label for = "name">Name</label>
        <input formControlName="Name" type="text"   class="form-control" id="name"  placeholder="Enter Name">

      </div>

      <div class="mb-3">
        <label for = "vorname">Vorname</label>
        <input formControlName="Vorname" type="text"   class="form-control" id="vorname"  placeholder="Enter Vorname">

      </div>

      <div class="mb-3">
        <label for = "E-Mail address">Email address</label>
        <input formControlName="Email" type="email"  class="form-control" id="E-Mail address"  placeholder="Enter email">

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="postDeatails()">Save</button>
  </div>
</ng-template>
<button class="btn btn-lg btn-primary" id="add" (click)="open(content)">Kunden hinzufügen</button>





