<nav class="navbar navbar-light bg-primary">
  <h1 style="color: skyblue" data-test="Title">Kunden-Dashboard</h1>
</nav>
<table class="table">
  <thead>
  <tr>
    <th class='attributes' scope="col" >ID</th>
    <th class='attributes' scope="col" >Vorname</th>
    <th class='attributes' scope="col" >Nachname</th>
    <th class='attributes' scope="col" >E-mail</th>
    <th class='attributes' scope="col" >Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Thomas</td>
    <td>Müller</td>
    <td>hk@gmail.com</td>
    <td>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


